<th:block th:fragment="header">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand text-primary" th:href="@{/}">PHM Algorithm demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/algorithm}">Algorithm Theory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/dataset}">Dataset</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</th:block>